name: Commenter

on: [push, pull_request]

jobs:
  run:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
    - run: npm install
    - run: node test/index.js | tee -a results.txt
    - name: Comment PR
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        path: results.txt
